---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

type Props = CollectionEntry<'blog'>['data'];

//const compiled = await getCollection('compiled');
//type PropsCompiled = CollectionEntry<'compiled'>['data'];
/*
type Props = {
	blog: CollectionEntry<'blog'>['data'],
	compiled: CollectionEntry<'compiled'>['data'],
}
*/

const { title, description, pubDate, updatedDate } = Astro.props;
const { src } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-container {
				width: 100%;
				text-align: center;
			}
			.hero {
				background-color: goldenrod;
				font-size: 5em;
				padding: 8px;
				border-radius: 8px;
				display: inline-block;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			a {
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-container">
					{title && <div class="hero">{title.split(' ')[0]}</div>}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title.split(' ')[1]}&nbsp;{title.split(' ')[2]}</h1>
						{
							posts.map((post) => (
							<nobr><a href={`/blog/${post.slug}/`}>[ {post.slug} ]</a></nobr><span>&nbsp;&nbsp;</span>
						))
					}


{/*
<h1>COMPILED</h1>
{
	compiled.map((c) => (
<div>{JSON.stringify(c.src)}</div>
))
}
 */}

						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
